.faq-btn
  display: block
  padding: 10px
  color: #000
  @extend %t-3s
  @extend %font
  font: 
    weight: 100
    size: 20px

  &:hover
    @extend %color-laranja
    cursor: pointer
    text-decoration: none

  i
    margin-right: 10px
    color: #f00
.resposta
  padding: 0 20px 0 20px 
  background: #f9f9f9
  p
    padding: 20px
    font: 
      weight: 400
      size: 17px        
.contato-btn
  text-align: center 
  a
    @extend %botao
    
       