.loader
  @extend %p-fixed
  top: 0
  left: 0
  width: 100% 
  height: 100% 
  z-index: 2
  @include transition(1s)
  &:before
    content: ''
    @extend %p-absolute
    left: 0
    width: 50%
    height: 100% 
    @extend %back-branco 
    @include transition(1s) 
  &:after
    content: ''
    @extend %p-absolute
    right: 0
    width: 50%
    height: 100% 
    @extend %back-branco 
    @include transition(1s) 
  &.carregado
    &:before
      left: -50%
    &:after
      right: -50%
  span
    @extend %p-absolute
    @include transform(translate(-50%, 50%)) 
    width: 120px 
    height: 120px 
    top: 35%
    border: 5px solid $laranja 
    z-index: 1
    @include animacao(animar 2.5s infinite linear)
    &:before
      content: ''
      @extend %p-absolute
      top: 0
      left: 0
      right: 0
      bottom: 0
      @extend %back-laranja  
      @include animacao(animarbg 2.5s infinite linear)
    @include celular-xs
      top: 25% 
      width: 80px
      height: 80px 
    &.completo
      opacity: 0
      display: none    
  @include keyframe( animar )  
    0% 
      @include transform(translate(-50%, 50%) rotate(0deg))
    25% 
      @include transform(translate(-50%, 50%) rotate(180deg)) 
    50% 
      @include transform(translate(-50%, 50%) rotate(180deg)) 
    75% 
      @include transform(translate(-50%, 50%) rotate(360deg))        
    100%
      @include transform(translate(-50%, 50%) rotate(360deg))
  @include keyframe( animarbg )  
    0% 
     height: 0  
    25% 
      height: 0  
    50% 
      height: 100%  
    75% 
      height: 100%        
    100%
      height: 0     
         
   

/*ROLAR PARA CIMA*/
.scrollToTop
  position: fixed
  bottom: 20px
  right: 30px
  font-size: 20px
  border: none
  z-index: 9999
  outline: none
  @extend %color-branco
  background: rgba(0,7,142,0.6) 
  cursor: pointer
  padding: 7px 15px
  border-radius: 4px 
  @extend %t-3s
  &:hover
    color: rgba(0,7,142,0.6) 
    @extend %gradient-laranja
/*ROLAR PARA BAIXO*/ 
   
.scrolldown
  position: absolute
  bottom: 0
  right: 0
  -webkit-transform: rotate(90deg)
  -ms-transform: rotate(90deg)
  transform: rotate(90deg)
  -webkit-transform-origin: right top 0
  -ms-transform-origin: right top 0
  transform-origin: right top 0
  float: right
  z-index: 1
  @extend %color-branco
  @include tablet
    display: none 
  i
    padding-left: 9px
  a
    font:
      size: 1rem
      weight: bold
    text:
      transform: uppercase
      shadow: 1px 2px 1px #000
    @extend %d-inline-block 
    letter-spacing: 1.4px
    @extend %back-transparent
    @extend %p-relative
    cursor: default
    top: 36px
    right: 42px
    @include transition(.2s)
    @include animacao(down .5s ease-in-out infinite alternate) 
    &:hover
      text-decoration: none
      @extend %color-laranja
      font-size: 1.2rem
@include keyframe(down)
  0%
    left:0
  100%
    left: 15px

//BOTÕES DO SLIDE TOP
.voltar, .proximo
  i
    text-shadow: 2px 2px 8px #444444

       

