.sobre
  background: #f8f8f8
  .container
    @extend %back-branco
.about
  p
    @extend %font
    color: #7d7d7d
    text-align: justify 
    font-size: 18px
.how-section1
  margin-top: -3%
  @extend %p-relative
  padding: 10%
  @include tablet-mini
    padding: 0
  @include celular-md
    padding: 5%  
  h4
    color: orange
    font-weight: bold
    font-size: 30px
  .subheading
    color: #3931af
    font-size: 20px
  .row
    margin-top: 10%
.txt-about
  p
    color: #7d7d7d
    font-size: 15px  
.invertido
    float: left
    text-align: right
    @include tablet-mini
      float: none
      text-align: left 
    &:before 
      right: auto
      left: -15px
      border-right-width: 15px
      border-left-width: 0
    &:after
      right: auto
      left: -14px
      border-right-width: 14px
      border-left-width: 0    

.how-img
  text-align: center
  img
    width: 50%
    @include tablet-mini
      width: 65% 
    @include celular
      width: 45%  
.desc
  margin-top: 23px      
.globo, .networking 
  @include celular
    padding-top: 18rem
  @include celular-xs
    padding-top: 10rem  
  .txt-about
    @include tablet-mini
      min-width: 50% 
  img
    @include celular
      position: absolute
      left: 0
      bottom: 15rem 
      right: 0
      display: block
      margin: 0 auto        



